# .github/workflows/tagpr.yml
name: tagpr
on:
  push:
    branches: ["main"]

jobs:
  tagpr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: Songmu/tagpr@da82ed6743aec90049892070edd5561335904a9e # v1.17.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
